@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
  align-items: center;
}


body{
    background-color: #ffffff;
}
#wrap {
    margin: 0 auto;
    width: 800px;
}

.button {
  font-family: 'Be Vietnam Pro', sans-serif;
  padding: 14px 40px;
  transition-duration: .4s;
  background-color:#bfbfbf;
  color:black;
  text-transform: lowercase;
  font-size: 20px;
  border-radius: 10px;

  }

  .microsoft{
    width: 15%;
    position: relative;
}

  
.button:hover{
  background-color: white;
  color: black;
  text-transform: uppercase;
}


.dark-purple-fill {
  background-color: #2f2f30;
}
.light-purple-fill {
  background-color: #646268;
}

.icon-small {
  width: 50px;
  padding-bottom: 5px;
}

.icon-text-large {
  font-size: 100px;
}

.small-text {
  font-size: 16px;
}

.tiny-text {
  font-size: 12px;
}

.text-gray {
  color: rgb(94, 88, 88);
}

.text-center {
  text-align: center;
}

#qrcode > img {
  margin: 0 auto;
  padding-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.green {
  color: #228B22;
}

#message {
  font-size: 1.5em;
}

#subject {
    font-size: 1.5em;
}